.breadcrumb {  
    padding:20px;
    background-color: rgb(193, 225, 225);
    list-style-type: none;
    /*
      - add some padding around it
      - add background color
      - remove the bullet points on the list
    */
  }
  
  .breadcrumb li {
    display: inline-block;
        /* 
      Hint: display
      - Make the list in a line.
    */
  }
  
  .breadcrumb li a {
    color: rgb(48, 79, 203);
    /*
      - add text color
    */
  }
  
  .breadcrumb li:not(:first-child):before{
    content:"/";
    padding:10px;
    color: rgb(94, 32, 194);
  }
  /* add a CSS selector that selects all list elements except for 1st one */
  /* add "/" before each selected list  */
  /* add text color and padding */